nav.navbar.navbar-light.bg-light.mx-auto
  a.nav-item.nav-link(href='/')| Home 
  a.nav-item.nav-link(href='/categories')| Categories 
  a.nav-item.nav-link(href='/areas')| Areas 
  a.nav-item.nav-link(href='/ingredients')| Ingredients 
